.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 1px;
  }
  .input-field {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  button {
    border-radius: 1px;
    padding: 10px;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
  }
  